<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ index_link }}"><h1>Alocubanovo</h1></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        {% for menu in menus %}
          {% if menu.menus is defined %}
            <li class="dropdown">
              <a href="{{ menu.link }}" class="dropdown-toggle" data-toggle="dropdown">{{ menu.name }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for sousMenu in menu.menus %}
                  <li><a href="{{ sousMenu.link }}">{{ sousMenu.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li{% if menu.active == 1 %} class="active"{% endif %}><a href="{{ menu.link }}">{{ menu.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>