{% extends 'CbnvMainBundle:Admin:admin_layout.html.twig' %}

{% block adminContent -%}
    <h1>{{ type|capitalize }} list</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for field in fields|keys %}
                    {% if field == 'date' %}
                        <td>{{ attribute(entity, field)|date('Y-m-d H:i:s') }}</td>
                    {% else %}
                        <td>{{ attribute(entity, field) }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a class="btn btn-xs btn-primary" href="{{ path(edit_path, { 'id': entity.id }) }}">edit</a>
                    <a class="btn btn-xs btn-danger" href="{{ path(delete_path, { 'id': entity.id }) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ new_link }}">Create a new entry</a>
{% endblock %}
