{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>{{ type|capitalize }} list</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for field in fields|keys %}
                    <td>{{ attribute(entity, field) }}</td>
                {% endfor %}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_edit', { 'type': type, 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_delete', { 'type': type, 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ new_link }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
