<div class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{ admin_link }}">Admin</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
	    	<li><a href="{{ article_link }}">Articles</a></li>
	    	<li><a href="{{ album_link }}">Albums</a></li>
	    	<li><a href="{{ member_link }}">Membres</a></li>
	    	<li><a href="{{ photo_link }}">Photos</a></li>
	    </ul>
	</div>
</div>